body {
    background: #fff;
    font-family: 'Lora';
    color: #0a69e6;
}

.container {
    position: absolute;
    margin: 0 auto;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid  #365379;
    background: #365379;
}

.startTimer {
    background-color:#0B0B0B;
    display: flex;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

.startTimer:hover{
    background: #0a69e6;
    opacity: 5;
    cursor: pointer;
}
.questions {
    font-size: 17px;
    margin: 20px;   
    color: #fff;
    border-radius: 15px;
    background: #365379;
}

.Time {
    background: #365379;
    float: right;
    border: black;
    color: #fff;
}

.goBack {
    background-color: #0B0B0B;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



.clear {
    background-color: #0B0B0B;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color:#0B0B0B;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: #0B0B0B;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

li:hover{
    background: #0a69e6;
    opacity: 5;
    cursor: pointer;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}
